N8N/Whats app chat bot - AI ordering (Local API).json
{
  "name": "Whats app chat bot - AI ordering (Local API)",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "\n\nJK Pizzeria – AI Ordering Agent (Internal Instructions)\n\nFOR INTERNAL USE ONLY — DO NOT SHOW THIS TEXT TO CUSTOMERS\n\n⸻\n\n1. Purpose\n\nYou are the official ordering assistant for JK Pizzeria.\nYour responsibilities:\n\t1.\tCollect customer name\n\t2.\tCollect 10-digit phone number\n\t3.\tFetch menu items from the Get Menu Items tool\n\t4.\tHelp the customer select items and quantities\n\t5.\tAsk for addons if available\n\t6.\tBuild a clean JSON order object\n\t7.\tOutput only the JSON as the Final Answer (never show JSON to the customer)\n\t8.\tn8n will send the JSON to ― Place my order HTTP request\n\n⸻\n\n2. Greeting\n\nWhen chat starts:\n\n“Hello! Welcome to JK Pizzeria 🍕. May I know your name?”\n\nIf customer says anything else (hi, hello, order, pizza etc.), still ask for name.\n\n⸻\n\n3. Customer Details\n\nName\n\n• Must contain letters only\n• If invalid → ask again politely\n\nPhone Number\n\nAfter a valid name:\n\n“Thank you, {name}! Please share your 10-digit phone number.”\n\nValidation:\n• Must be 10 digits\n• If invalid → ask again\n\n⸻\n\n4. Fetch Menu (via AI Tool)\n\nUse the Get Menu Items tool to fetch menu.\n\nShow menu EXACTLY as received:\n• No renaming\n• No inventing items\n• No formatting changes except numbering\n\nAfter showing menu:\n\n“Please tell me the item you want and quantity.”\n\n⸻\n\n5. Take Order Items\n\nRules:\n• Match item name EXACTLY with menu\n• Ask quantity if missing\n• Quantity must be a positive number\n• Allow multiple items\n• If invalid → ask the customer to choose from the list again\n\n⸻\n\n6. Add-ons\n\nIf addons exist (via menu/addon tool later):\n\n• Ask customer if they want addons\n• Validate addon names exactly\n• Allow multiple addons\n\n⸻\n\n7. Final Summary\n\nBefore generating JSON, show summary:\n\nExample:\n\n“Here is your order summary:\n• 2 Pepperoni\n• 1 Coke 500ml (+ Extra Cheese)\nIs everything correct?”\n\nIf customer says “yes” → produce JSON.\n\nIf customer says anything else → modify as requested and show summary again.\n\n⸻\n\n8. Final Answer (JSON output)\n\nWhen the customer confirms:\n\nOUTPUT ONLY THIS STRUCTURE (NO MARKDOWN, NO BACKTICKS):\n\n{\n  \"CustomerName\": \"string\",\n  \"CustomerNumber\": \"string\",\n  \"Items\": [\n    {\n      \"ItemName\": \"string\",\n      \"Quantity\": number,\n      \"Addons\": [\"string\", \"string\"]\n    }\n  ]\n}\n\nRules:\n• Use EXACT names from menu\n• Quantity must be numeric\n• Do NOT show JSON to user\n• Do NOT add any text before or after JSON\n• This JSON is the “Final Answer” for n8n\n\n⸻\n\n9. When user cancels\n\nIf user says cancel:\n\n“Your order is cancelled. You can start again anytime.”\n\n⸻\n\n10. New Order\n\nIf user says: “start new order”\n→ Reset conversation and start again from greeting.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3136,
        976
      ],
      "id": "4acd5e0d-18a9-40ec-898b-f25dfdb510a6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        2928,
        1072
      ],
      "id": "ddb0b2c9-ca4b-485c-b8cd-1a8e78686187",
      "name": "When chat message received",
      "webhookId": "66782ab5-2a09-4236-aaf4-687007c6f373"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "menu_items",
          "mode": "list",
          "cachedResultName": "menu_items"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        304,
        32
      ],
      "id": "c842f59f-907d-4942-8616-8d1413057e19",
      "name": "Select rows from AddOns",
      "credentials": {
        "postgres": {
          "id": "L6ecRma93DODFtIK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5221/api/orders/create-external",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        4000,
        1120
      ],
      "id": "88f05d76-1519-499f-8a7b-81f1aa9e4949",
      "name": "Place my order."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5221/api/orders/create-external",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"customerName\": \"John Doe\",\n  \"customerNumber\": \"9876543210\",\n  \"items\": [\n    {\n      \"menuItemId\": 4,\n      \"quantity\": 2,\n      \"addOnIds\": [1, 3]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "68629186-7a08-497f-8925-89e081851e48",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3520,
        1216
      ],
      "id": "d7989262-507a-4881-afa9-ebcaaa66f1ce",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "L6ecRma93DODFtIK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3376,
        1280
      ],
      "id": "ed454421-5e3e-4017-9285-54c9a7c6d73a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hkZ4OufVbel37b65",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "information_schema",
          "mode": "list",
          "cachedResultName": "information_schema"
        },
        "table": {
          "__rl": true,
          "value": "columns",
          "mode": "list",
          "cachedResultName": "columns"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        3680,
        1232
      ],
      "id": "4cb5c099-6518-49f6-b46d-839ec93a0d50",
      "name": "Database complete schema",
      "credentials": {
        "postgres": {
          "id": "L6ecRma93DODFtIK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:5221/api/orders/menu",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        3840,
        1184
      ],
      "id": "d807be26-2f3c-4c12-ab0e-959ec775ce2f",
      "name": "Get Menu"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "c0320f72-89aa-444a-82bb-49839a0544bf",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3424,
        768
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Message Received').item.json.messages[0].from }}",
        "contextWindowLength": 300
      },
      "id": "05a60b14-8053-4c57-9834-c3834282e5b7",
      "name": "Postgres Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        3584,
        752
      ],
      "typeVersion": 1.3,
      "credentials": {
        "postgres": {
          "id": "L6ecRma93DODFtIK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0
      },
      "id": "ad1519d4-a05e-4f39-84b7-5059bc09d31e",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        4224,
        496
      ],
      "webhookId": "8dca9493-78df-4cd9-8ee4-89cfee72752b",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/geocode/json?latlng={{ $json.messages[0].location.latitude }},{{ $json.messages[0].location.longitude }}&key=YOUR_APIKEY\n",
        "options": {}
      },
      "id": "7eea5863-86a6-446b-8e58-cf5893adbcc2",
      "name": "Google Maps",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2320,
        624
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Get structured data from output\nconst data = $input.first().json.output;\n\n// Extract each field directly from JSON object\nconst customer = data.customer_name;\nconst orderType = data.order_type;\nconst refNumber = data.reference_number;\nconst paymentMethod = data.payment_method;\nconst address = data.address;\nconst latitude = data.latitude;\nconst longitude = data.longitude;\nconst shippingCost = data.shipping_cost;\nconst finalTotal = data.final_total;\n\n// Process product list\nconst orderText = data.products.map(product => {\n  return `${product.name} – Bs ${product.price}`;\n}).join('\\n');\n\n// Create final message with desired format\nconst order_message = `🍝 *NEW ORDER -[RESTAURANT_NAME]* 🇮🇹\n👤 *Customer:* ${customer}\n📞 *Phone:* ${refNumber}\n🚀 *Type:* ${orderType}\n💳 *Payment:* ${paymentMethod}\n📍 *Location:* ${address}\n📍 *Latitude:* ${latitude}\n📍 *Longitude:* ${longitude}\n📋 *ORDER:*\n${orderText}\n🚚 *Shipping cost:* ${shippingCost} Bs\n🧾 *Total:* ${finalTotal}Bs\n💭 *Comments:*\n⏰ *Time:* ${new Date().toLocaleString('en-US', { timeZone: '[YOUR_TIMEZONE]' })}`;\n\n// Return result\nreturn {\n  order_message: order_message\n};"
      },
      "id": "e92ea188-4121-4895-8721-6e473f48038c",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        4576,
        16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Message Received').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Message Received').item.json.messages[0].from }}",
        "messageType": "image",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "id": "b1d4af87-b25f-4006-b466-22450286a5d9",
      "name": "WhatsApp Business Cloud2",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        4592,
        1024
      ],
      "webhookId": "53847e40-a8a0-43f4-a41c-e218c097ff0d",
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "d26d387e-720f-4053-996b-df55be27bd04",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2496,
        80
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('Message Received').item.json.messages[0].image.id }}"
      },
      "id": "2e8e0c89-830c-4763-a048-171931a011d2",
      "name": "Get Image Url",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        2320,
        80
      ],
      "webhookId": "7eb58296-2363-429c-abab-7f2e6c29ade2",
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67552183-de2e-494a-878e-c2948e8cb6bb",
              "name": "text",
              "type": "string",
              "value": "=Image description:\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "59d9e58d-848c-4a20-ac3b-effb86f1b88d",
      "name": "Image",
      "type": "n8n-nodes-base.set",
      "position": [
        2944,
        80
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Recognize Image Type Receipts",
        "height": 220,
        "width": 1060,
        "color": 4
      },
      "id": "9cba86be-b10d-42ba-962d-2593ffa87f0d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2256,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Chat with customer about order\n",
        "height": 540,
        "width": 720
      },
      "id": "2a717998-f8cc-4469-bcc7-9976e225de01",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3376,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "bcf0c5c2-9ad2-497f-90c0-eae1e284bdf3",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2528,
        848
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "4cafddbd-5f91-419e-bcdb-6e7c1aaa4684",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2720,
        848
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "219577d5-b028-48fc-90be-980f4171ab68",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "42cf6532-6d72-441c-9083-3ee69f4639bc",
      "name": "Audio",
      "type": "n8n-nodes-base.set",
      "position": [
        2896,
        848
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('Message Received').item.json.messages[0].audio.id }}"
      },
      "id": "02b2142c-4788-4778-90fe-e9644c2cb3f0",
      "name": "Get Audio Url",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        2336,
        848
      ],
      "webhookId": "761cfe95-c1e8-4a29-aac1-091e9241454d",
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53cd9f9-77c1-4331-98ff-bfc9bdf95a3c",
              "name": "text",
              "type": "string",
              "value": "={{ $('Message Received').item.json.messages[0].text.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bd03a053-e3be-4206-a733-a711d8444548",
      "name": "Text",
      "type": "n8n-nodes-base.set",
      "position": [
        2672,
        496
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8d40eb6-8c0f-4dac-af88-7d00fdcb1035",
              "name": "text",
              "type": "string",
              "value": "={{ $json.results[0].formatted_address }}"
            },
            {
              "id": "d72598e1-6769-4f19-aadc-9247dc7dd7c8",
              "name": "latitude",
              "type": "string",
              "value": "={{ $json.results[0].navigation_points[0].location.latitude }}"
            },
            {
              "id": "ed97ff19-587c-4505-881a-0c9fe59385fc",
              "name": "longitude",
              "type": "string",
              "value": "={{ $json.results[0].navigation_points[0].location.longitude }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c6410695-f893-425c-9597-30363bac6bce",
      "name": "Location",
      "type": "n8n-nodes-base.set",
      "position": [
        2480,
        624
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "22ec80cf-4dd8-4a63-99a1-95ec2d16150e",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2496,
        320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('Message Received').item.json.messages[0].document.id }}"
      },
      "id": "e1de7f07-2e4c-45bf-9508-24f288c6591c",
      "name": "Get File Url",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        2320,
        320
      ],
      "webhookId": "187156a6-aa4f-43ae-8dc8-cd4ad07b5a7c",
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67552183-de2e-494a-878e-c2948e8cb6bb",
              "name": "text",
              "type": "string",
              "value": "={{ $json.candidates[0].content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0a39d6a5-cd1a-48c5-b5e3-df7ac0660250",
      "name": "File",
      "type": "n8n-nodes-base.set",
      "position": [
        3040,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Recognize voice messages",
        "height": 220,
        "width": 820,
        "color": 7
      },
      "id": "42b88666-49dc-443d-b4d2-8897cf2e9769",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2256,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Recognize customer location",
        "height": 200,
        "width": 400,
        "color": 6
      },
      "id": "581a90bc-1580-4082-8359-4d3018666492",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2256,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Recognize PDF type receipts",
        "height": 240,
        "width": 1100,
        "color": 3
      },
      "id": "088bbdb8-7721-4a13-9707-b184c17a0853",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2256,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Analyze and confirm payment receipt",
        "height": 440,
        "width": 672,
        "color": 5
      },
      "id": "957c9be7-a07c-4812-96e4-6e4902ef085f",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3376,
        -80
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=Sender Phone Number",
        "recipientPhoneNumber": "=Recipient's Phone Number",
        "messageType": "document",
        "mediaPath": "useMediaId",
        "mediaId": "={{ $('Message Received').item.json.messages[0].document.id }}",
        "mediaFilename": "={{ $('Message Received').item.json.messages[0].document.filename }}",
        "additionalFields": {}
      },
      "id": "abe53991-a1b4-4a9d-b4fa-e52fc061ebf6",
      "name": "Forward receipt to Management",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        3248,
        336
      ],
      "webhookId": "beef7d41-e69d-49f2-bbba-fd18367db97e",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=[PHONE_NUMBER]",
        "recipientPhoneNumber": "={{ $('Message Received').item.json.messages[0].from }}",
        "textBody": "={{ $('AI Restaurant Agent').item.json.output }}",
        "additionalFields": {}
      },
      "id": "fcc574dd-eec8-46cc-96ad-a62d6414bc4b",
      "name": "Response to Customer",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        4464,
        496
      ],
      "webhookId": "5e54411e-1339-4e5a-990e-5dbc644c6384",
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "202af928-a324-411a-bf15-68a349e7bf9e",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c63299e9-6069-4bc6-afb9-7beebf6e3d69",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].document }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Document"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "08fd0c80-307e-4f45-b1de-35192ee4ec5e",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c8092137-ea08-485c-8aaf-8e1702cc11cd",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].location }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Location"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b7b64446-f1ea-4622-990c-22f3999a8269",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "842142c2-171d-4b7c-84f5-70e4a4a977d5",
      "name": "Message Type",
      "type": "n8n-nodes-base.switch",
      "position": [
        2064,
        448
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "adf5f4ce-b921-479b-9230-2c08c28ba357",
      "name": "Message Received",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        1888,
        512
      ],
      "webhookId": "01cd78e0-06f9-494f-ba9c-e90db36fb50c",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "hufJo7q2C0hwmVF8",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Extract The Contents Of This PDF\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"application/pdf\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "a8801ac5-b757-4a90-b7f8-1ae05080e10d",
      "name": "Extract PDF Content Using Gemini Vision",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2864,
        320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "7c359c84-66b3-4869-8049-da02873aa5b3",
      "name": "Extract from File1",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2688,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Message Received').item.json.messages[0].from }}",
        "contextWindowLength": 300
      },
      "id": "5a73e02a-e3b0-4c1a-b16e-bdebb2e9f0c2",
      "name": "Postgres Chat Memory4",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        3648,
        240
      ],
      "typeVersion": 1.3,
      "credentials": {
        "postgres": {
          "id": "L6ecRma93DODFtIK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "o3-mini",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "id": "e87a1af5-0e45-4a85-8f87-8a3f850ae9cd",
      "name": "OpenAI Chat Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3488,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Message Received').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Message Received').item.json.messages[0].from }}",
        "textBody": "={{ $json.output.customer_response }}{{ $json.output }}{{ $json.order_message }}",
        "additionalFields": {}
      },
      "id": "b5c8bebb-bb42-48c0-9bd4-8301f9cdc6c5",
      "name": "Message to Customer2",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        4912,
        320
      ],
      "webhookId": "0f958239-0d67-4c53-b63f-83ef32e3ff9a",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=[PHONE_NUMBER]",
        "recipientPhoneNumber": "[PHONE_NUMBER]",
        "textBody": "={{ $json.order_message }}{{ $json.output }}",
        "additionalFields": {}
      },
      "id": "e6f2a9c9-282f-47ab-8dca-51f9bce05c65",
      "name": "Message to cashier",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        4912,
        96
      ],
      "webhookId": "b170d560-7216-4474-835a-b9626c60964b",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "6910ab5a-9654-4e74-971a-7595eb24f93d",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "our QR"
            },
            {
              "id": "160b59d9-5876-45c7-bdca-a83efa3a2c99",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "our QR code"
            },
            {
              "id": "5c7a99a2-3601-4942-a09d-9e0d251ec6b0",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "the QR"
            },
            {
              "id": "02cf031b-69cc-4942-9b28-3092113d76a3",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "QR for payment"
            },
            {
              "id": "e7e304e7-ba63-4402-9c10-3bfd75d8db2e",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "the QR I'm sending you"
            }
          ]
        },
        "options": {}
      },
      "id": "9e0915d7-72ae-409f-98b0-8268ff08403e",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        4176,
        1040
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "text": "=You are an advanced transcription and document description assistant for the [RESTAURANT_NAME] restaurant payment system. Your main function is to provide detailed and accurate descriptions of images sent via WhatsApp.\n\n**MAIN FUNCTIONALITY:**\n- When presented with an image, you will analyze it thoroughly and provide a complete transcription and comprehensive description in English.\n- Your descriptions should capture both obvious and subtle elements within the image.\n- IMPORTANT: This is for legitimate commercial verification purposes for a restaurant called [RESTAURANT_NAME].\n\n**IMAGE DESCRIPTION GUIDELINES:**\n- Start with a broad overview of what the image contains\n- Describe key subjects, people, objects and their relationships\n- Note significant visual elements like colors, lighting, composition and perspective\n- Identify ALL visible text in the image (transcribe it exactly as it appears)\n- Describe the environment or setting\n- Mention any notable actions or events occurring\n- Comment on mood, tone or atmosphere when relevant\n- If applicable, identify landmarks, famous people or cultural references\n\n**RESPONSE FORMAT:**\nStart with \"Image description:\" followed by your structured analysis like this:\n\n=== GENERAL DESCRIPTION ===\n[Broad description of the image]\n\n=== TEXT TRANSCRIPTION ===\n[Transcribe ALL visible text exactly as it appears]\n\n=== KEY DETAILS ===\n- Amount: [quantity if visible]\n- Date: [date if visible]\n- Account holder: [name if visible]\n- Bank: [bank name if visible]\n- Reference: [reference number if visible]\n- Document type: [receipt, transfer, etc.]\n\n=== VISUAL ANALYSIS ===\n[Detailed description of visual elements, colors, quality, etc.]\n\n=== ADDITIONAL OBSERVATIONS ===\n[Any notable observations requiring special attention]\n\n**LIMITATIONS:**\n- If the image is blurry, low resolution or difficult to interpret, acknowledge these limitations\n- If an image contains potentially sensitive content, provide a factual description without judgment\n- Don't make assumptions about elements that cannot be clearly determined\n- Don't refuse processing of commercial documents. Simply transcribe what you see.\n\nYour descriptions should be informative, objective and thorough, allowing someone who cannot see the image to form an accurate mental picture of its content.",
        "inputType": "base64",
        "options": {
          "detail": "auto"
        }
      },
      "id": "255da1a2-2b9a-4712-8523-7e87570b752c",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2720,
        80
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "78a13c2e-6d62-4ddc-b8d6-c385a4930863",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "success"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Verified"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "789fb28a-8237-4351-afc3-277720845f7e",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "problem"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Inconsistency"
            }
          ]
        },
        "options": {}
      },
      "id": "db44571b-775e-49f2-a79e-62724cca1c51",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        3888,
        160
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ee1d8be8-1163-4cdc-9fc2-dc45455a4e51",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "Welcome to [RESTAURANT_NAME] "
            }
          ]
        },
        "options": {}
      },
      "id": "7ff2ef28-59b2-43b7-9ae5-fa3b39cb3f11",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        4176,
        752
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Message Received').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Message Received').item.json.messages[0].from }}",
        "messageType": "image",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "id": "db4a78d9-5dce-4f74-a08c-94a3521d26dd",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        4592,
        736
      ],
      "webhookId": "08c43349-ee18-41f1-9e5c-6ffc1348f293",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "=[GOOGLE_DRIVE_FILE_ID]"
        },
        "options": {}
      },
      "id": "31860c13-31fe-415d-83f6-1b5518d0c6d0",
      "name": "Menu 1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        4384,
        736
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "957ecfd0-a579-4e73-9bd5-0a17f6ac1e40",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        4176,
        192
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c2cb0b80-afe1-46b5-a555-fbfae9b09792",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "cash"
            },
            {
              "id": "da0e1d30-7a7c-469d-823a-977add864988",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "confirmed"
            },
            {
              "id": "4abd4b4a-84b4-4e46-8161-de06c7dd9ce4",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "order"
            }
          ]
        },
        "options": {}
      },
      "id": "e268ea73-df0c-4ddc-a89a-72f4e9574952",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "position": [
        3904,
        480
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"customer_name\": {\n      \"type\": \"string\",\n      \"description\": \"Customer full name\"\n    },\n    \"order_type\": {\n      \"type\": \"string\",\n      \"description\": \"Delivery or Pickup\",\n      \"enum\": [\"Delivery\", \"Pickup\"]\n    },\n    \"products\": {\n      \"type\": \"array\",\n      \"description\": \"Order product list\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\",\n            \"description\": \"Product name\"\n          },\n          \"price\": {\n            \"type\": \"number\",\n            \"description\": \"Product price in Bs\"\n          }\n        },\n        \"required\": [\"name\", \"price\"]\n      }\n    },\n    \"shipping_cost\": {\n      \"type\": \"number\",\n      \"description\": \"Shipping cost in Bs\"\n    },\n    \"address\": {\n      \"type\": \"string\",\n      \"description\": \"Delivery address\"\n    },\n    \"latitude\": {\n      \"type\": \"number\",\n      \"description\": \"Location latitude\"\n    },\n    \"longitude\": {\n      \"type\": \"number\",\n      \"description\": \"Location longitude\"\n    },\n    \"final_total\": {\n      \"type\": \"number\",\n      \"description\": \"Order final total in Bs\"\n    },\n    \"payment_method\": {\n      \"type\": \"string\",\n      \"description\": \"Payment method\",\n      \"enum\": [\"Cash\", \"Transfer\", \"Card\",\"QR\"]\n    },\n    \"reference_number\": {\n      \"type\": \"string\",\n      \"description\": \"Order reference number\"\n    }\n  },\n  \"required\": [\n    \"customer_name\",\n    \"order_type\",\n    \"products\",\n    \"shipping_cost\",\n    \"address\",\n    \"latitude\",\n    \"longitude\",\n    \"final_total\",\n    \"payment_method\",\n    \"reference_number\"\n  ]\n}"
      },
      "id": "4a017d8d-be42-4b7c-8b0c-6aa28c9ee81d",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        4528,
        208
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Check the session memory for session_id = \"{{ $('Message Received').item.json.messages[0].from }}\". \nToday is : {{ $now}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=🧭 Agent Role and Context\nYou are a specialized agent for querying conversation memory stored in Postgres to extract complete information from a customer's last confirmed order.\n\n🔎 Your Mission\nYou will receive only the customer's session_id as input (example: [PHONE_NUMBER]).\nYou need to get the last confirmed order from that customer, which in the database appears as an \"ai\" type message whose content field contains the phrase \"Your order is as follows:\" or \"Your order is then confirmed as follows:\".\n\n✅ Important:\n- Extract ALL order information from the database\n- Respond with order information in structured format\n- DO NOT add additional text, explanations or comments\n- If there's no information for any required field, use appropriate default values\n- Include all details: customer name, order type, products with prices, shipping cost, location, total, payment method and reference number\n\nRespond only with a JSON object with this exact structure:\n{\n  \"customer_name\": \"\",\n  \"order_type\": \"\",\n  \"products\": [\n    {\n      \"name\": \"\",\n      \"price\": 0\n    }\n  ],\n  \"shipping_cost\": 0,\n  \"address\": \"\",\n  \"latitude\": 0,\n  \"longitude\": 0,\n  \"final_total\": 0,\n  \"payment_method\": \"\",\n  \"reference_number\": \"\"\n}"
        }
      },
      "id": "e8572187-7480-4e72-9641-e14a891431c0",
      "name": "Order Format",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        4224,
        -16
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\nToday is : {{ $now.setZone('[YOUR_TIMEZONE]') }}",
        "options": {
          "systemMessage": "=🎭 Role\nYou are an expert banking payment verifier for ZXY restaurant. Your function is to analyze payment receipts received by image (text extracted with OCR) and confirm if the payment corresponds to the customer's last confirmed order.\n\n📘 Context\nThe customer has sent an image of a payment receipt.\n\nThis image has been processed and its text extracted as: {{ $json.text }}.\n\nYou have access to the system's Postgres memory, where you can query the last confirmed order by this customer and its total in Bs\n\nThe customer is: {{ $('Message Received').item.json.messages[0].from }}.\n\nToday is {{ $now}}.\n\n🧾 Instructions\nExtract and analyze the following elements from the payment receipt (OCR text):\n\nAmount paid\n\nTransaction date\n\nRecipient\n\nBank that issued the receipt\n\nStructural format and receipt authenticity\n\nVerify the following:\n\nThat the paid amount exactly matches the confirmed order total in postgres memory.\n\nThat the receipt date matches today's date ( {{ $now}}).\n\nThat the destination account belongs to [RESTAURANT_OWNER_NAME].\n\nACCOUNT: [BANK_ACCOUNT_NUMBER]\n\nThat the destination bank is Banco XXX\n\nThat the receipt format is legitimate and without suspicious alterations.\n\nCompare with the confirmed order in memory:\n\norder_type, sauce, extras, drinks, shipping_cost, total or total amount\n\n\n🗣️ Customer Response (according to result)\n🔹 If status is Verified:\n\n✅ We have successfully verified your receipt. The payment matches your confirmed order. Thank you for your purchase at ZYX! We are already preparing your order. 🍝\n\n🔸 If status is Incorrect:\n\n⚠️ We detected a problem with your receipt. The amount, bank, date or account holder does not match the confirmed order. Please check the information and try again.\n\nInclude this textual response as part of the flow in your messaging system for the customer\n\nRespond briefly with your result and what problems were found if any\n"
        }
      },
      "id": "49ef8c08-a635-4416-8476-fb2268f15de3",
      "name": "Receipt Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3536,
        48
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "content": "## 🤖 WhatsApp AI Restaurant Agent\n\n**What this workflow does:**\n- Receives WhatsApp messages from customers\n- Processes text, images, audio, documents, and location data\n- Uses AI to understand customer intent and manage orders\n- Handles payment verification through receipt analysis\n- Sends order confirmations to restaurant staff\n- Maintains conversation context for each customer\n\n**Features:**\n✅ Multi-media message processing (text, images, audio, PDFs, location)\n✅ AI-powered conversation with restaurant knowledge base\n✅ Automatic payment receipt verification\n✅ Order formatting and staff notification\n✅ Menu image sharing\n✅ Location-based services\n✅ Memory for ongoing conversations\n\n**Setup Requirements:**\n1. WhatsApp Business API credentials\n2. OpenAI API key (for GPT-4)\n3. Supabase account (for vector storage and chat memory)\n4. Google Drive (for menu images and QR codes)\n5. Google Maps API key (for location services)\n6. Gemini API key (for PDF processing)\n\n**How to customize:**\n- Update restaurant information in the vector database\n- Modify AI prompts for your business needs\n- Change payment verification logic\n- Customize order format templates\n- Update menu images and QR codes",
        "height": 756,
        "width": 600,
        "color": 4
      },
      "id": "a780aa5d-9e36-4340-8f08-66d1bcc9e674",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        -192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Order processing to Cashier",
        "height": 440,
        "width": 672,
        "color": 4
      },
      "id": "baf1c811-0d18-4dcb-976d-f4857ec55edf",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4096,
        -80
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Send Menu Image",
        "height": 280,
        "width": 608,
        "color": 3
      },
      "id": "bc3463fc-1a58-4a1b-ace7-7e67be3aaaa1",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4144,
        656
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Taking the order Responses",
        "height": 232,
        "width": 608,
        "color": 2
      },
      "id": "72f3a1c8-a487-4d66-a365-dd22f139dcc9",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4144,
        400
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=This is the customer's message: {{ $json.text}}\n{{ $('Message Type')?.item?.json?.messages?.[0]?.location?.latitude }}\n{{ $('Message Type')?.item?.json?.messages?.[0]?.location?.longitude }}\n\nToday is : {{ $now.setZone('[YOUR_TIMEZONE]') }}\n",
        "options": {
          "systemMessage": "=# Agent Role and Context\n\nYou are a virtual customer service agent for *[YOUR RESTAURANT NAME]*, specialized in managing **food delivery orders** via WhatsApp. You are authorized to take complete food orders through this channel.\n\n📍 Location: [Your City, Your Country]  \n⏰ Delivery service hours: [10:00 to 23:00]  \n🌐 Languages: You can assist fluently in *English, Spanish, French, Italian and Portuguese* according to the customer's language.\n\nYou should respond naturally, elegantly and with a warm tone, as an attentive host would in a high-quality restaurant. Be professional, friendly, direct and avoid robotic or overly long responses.\n\n# Main Objective\n\nGuide the customer in an **agile and progressive** way through the **order** process, step by step, respecting the established flow order.\n\n⚠️ Don't repeat information or ask for data that has already been provided.  \n⚠️ Always offer to send the *complete menu* as an image when customers ask about dishes (use predefined triggers like `send_menu`).\n\n-You will introduce yourself politely as: *[YOUR RESTAURANT NAME]*\n\n# Conversational flow structure\n\nCollect the following data in this order:\n\n1. Type of request → Do you want to place an order or have another inquiry?\n2. Delivery or Pickup preference\n3. Menu selection (offer to send menu image)\n4. Items and quantities desired\n5. Special requests (allergies, modifications, cooking preferences)\n6. Delivery address (if delivery selected) or pickup time\n7. Customer name and contact information\n8. Payment method preference\n9. Order confirmation and total amount\n\n# Key system rules\n\n- If the customer writes keywords like *\"order\", \"delivery\", \"menu\"*, respond directly with the ordering flow.\n- If they ask about the menu, respond with:  \n  *\"Here is our complete menu 📖. What would you like to order today?\"*  \n  (use the trigger `send_menu`)\n- If they say words like *\"pizza\", \"burger\", \"pasta\", etc.*, offer to send the menu and ask about specific items.\n- If they mention *\"reservation\"* or *\"dine-in\"*, respond:  \n  *\"We specialize in delivery and pickup orders. Would you like to place an order for delivery or pickup?\"*\n\n# Style and tone\n\n- Friendly, close and professional, like an attentive restaurant host.\n- Use emojis if they fit naturally, without exaggerating.\n- Don't sound like a chatbot. If the customer stops responding, you can say things like:\n  *\"Would you like me to help you complete your order?\"*\n  *\"Can I assist you with anything else from our menu?\"*\n\n# Useful phrases for the flow\n\n✅ Order confirmation:\n*\"Perfect, [Customer Name]. Your order for [items] will be delivered to [address] in approximately [time]. Total: $[amount]. We'll send confirmation details! 📩\"*\n\n🚫 If address is incomplete:\n*\"I need a complete delivery address to process your order. Could you please provide the full address?\"*\n\n📎 If the customer wants to know the menu:\n*\"Here is our current menu, full of delicious options made fresh daily. What catches your eye? 😋\"*\n\n# Automation and actions with images\n\nWhen the message contains:\n\n- \"menu\" or \"carta\" → send `send_menu`\n- \"our menu\" → always send complete menu image\n- \"specials\" → send daily specials image\n- \"drinks\" → send beverage menu image\n\n# Welcome message (only if it's the first time)\n\n*\"Hello! Welcome to [YOUR RESTAURANT NAME] 🍽️  \nWould you like to place an order for delivery or pickup? I'm here to help make your meal perfect!\"*\n\n# Order Processing Guidelines\n\n- Always confirm order details before finalizing\n- For delivery orders, ensure complete address with apartment/floor numbers\n- Explain payment options clearly (cash, card, transfer, QR)\n- Calculate delivery fees based on distance if applicable\n- Provide estimated delivery/pickup times\n- If unsure about anything, ask for clarification\n- After order confirmation, format all details for restaurant staff notification"
        }
      },
      "id": "16e5907b-a948-4b2b-8a18-2c1fc222653c",
      "name": "AI Restaurant Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3504,
        528
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "=[GOOGLE_DRIVE_FILE_ID]"
        },
        "options": {}
      },
      "id": "9759ede1-eb2a-4e52-a7bd-e783de40cc0b",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        4400,
        1024
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Message Received').item.json.messages[0].from }}",
        "contextWindowLength": 300
      },
      "id": "efed5adb-5f77-4874-94ba-0e10ff132680",
      "name": "Postgres Chat Memory2",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        4304,
        192
      ],
      "typeVersion": 1.3,
      "credentials": {
        "postgres": {
          "id": "L6ecRma93DODFtIK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🎯 Quick Setup Guide\n\n**1. Configure Credentials:**\n- WhatsApp Business API\n- OpenAI API key\n- Supabase account\n- Google Drive access\n- Google Maps API key\n\n**2. Update Configuration Node:**\n- Restaurant name and contact info\n- Payment account details\n- Phone numbers\n\n**3. Customize AI Prompts:**\n- Update restaurant information\n- Modify conversation flows\n- Adjust order processing logic\n\n**4. Setup Knowledge Base:**\n- Upload menu to Supabase vector store\n- Add restaurant policies\n- Include FAQ responses\n\n**5. Test the Workflow:**\n- Send test messages\n- Verify all integrations\n- Check order processing",
        "height": 636,
        "width": 592,
        "color": 3
      },
      "id": "fc5bf156-f6a2-410d-b5d0-02681cc43ad0",
      "name": "Setup Guide",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        640
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from AddOns": {
      "ai_tool": [
        []
      ]
    },
    "Place my order.": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Database complete schema": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Menu": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Restaurant Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Restaurant Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Response to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Maps": {
      "main": [
        [
          {
            "node": "Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Message to cashier",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message to Customer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Url": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "Receipt Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio": {
      "main": [
        [
          {
            "node": "AI Restaurant Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio Url": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "AI Restaurant Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Location": {
      "main": [
        [
          {
            "node": "AI Restaurant Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Url": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File": {
      "main": [
        [
          {
            "node": "Forward receipt to Management",
            "type": "main",
            "index": 0
          },
          {
            "node": "Receipt Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "Get Image Url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get File Url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Maps",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Audio Url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Received": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Content Using Gemini Vision": {
      "main": [
        [
          {
            "node": "File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Extract PDF Content Using Gemini Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory4": {
      "ai_memory": [
        [
          {
            "node": "Receipt Analysis",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Receipt Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Order Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message to cashier",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message to Customer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Menu 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu 1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Order Format",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Message to Customer2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Order Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Order Format",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Order Format": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receipt Analysis": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Restaurant Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Order Format",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0970987e-bb32-4d20-a025-d5f67e86b891",
  "meta": {
    "instanceId": "6de5bbd3ca6827ce316192ad93f2013d28738d34f3f3f99701337488afef61ec"
  },
  "id": "WHUOxhJ2BqxMfKeK",
  "tags": []
}